{% extends 'base.html' %}
{% load static %}

{% block title %} Groups {% endblock %}
{% block search_field %}
    {% include "accounts/forms/accounts-search-form.html" %}
{% endblock %}

{% block specific_links %}
    {% if perms.accounts.add_customuser %}
        <a href="{% url 'create_group' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">person_add</span>
            <div class="p-0">Create a New Group</div>
        </a>
    {% endif %}
{% endblock %}

{% block display-content %}
<div id="groups-table">
    {% include "groups/tables/groups-table.html" %}
</div>
{% endblock %}
{% block floating_btn %}
    <a href="{% url 'create_group' %}" class="material-symbols-outlined text-decoration-none rounded-2 bg-danger text-light fs-3 p-3 position-absolute bottom-0 end-0 show shadow-lg m-5">person_add</a>
{% endblock %}