{% load widget_tweaks %}
<div class="align-middle m-2 p-2">
    <form method="post" class="hidden"  enctype="multipart/form-data" action="" novalidate>
        {% csrf_token %}
        {% render_field form.employee value=employee_id %}
        {% render_field form.date value=shift_date %}
        {% render_field form.shift value="" %}
        <button type="button" class="filter"
        hx-post="{% url 'create_attendance_record' %}"
        hx-target="#e{{ employee_id }}-{{ shift_date|date:"dm" }}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="click delay:0.3s" hx-swap="innerHTML">Submit
        </button>
    </form>
        <h6 class="text-center d-flex justify-content-evenly align-items-center">
            <span class="hidden total-hours">0</span>
            <span class="hidden allowance">0</span>
            <span class="cell-counter fw-bold border border-dark p-2"></span>
            <span class="targ">OFF</span>
        </h6>
</div>