<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Delete Shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deleting this shift <b><u>{{ "will delete all Attendane records related to it"|upper }}</u></b>. It's better not to delete it if you have used it to schedule before</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_shift' shiftid %}" type="button" class="btn btn-danger">DELETE</a>
            </div>
        </div>
    </div>
</div>