{% extends 'base.html' %}
{% load static %}

{% block title %} Create a New User {% endblock %}
{% block search_field %}
{% endblock %}
{% block custom_btn %}
{% endblock %}

{% block specific_links %}
    {% if perms.accounts.add_customuser %}
        <a href="{% url 'create_account' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">person_add</span>
            <div class="p-0">Create a New Account</div>
        </a>
    {% endif %}
{% endblock %}

{% block display-content %}
    <div class="form-wrapper">
        <form method="post" enctype="multipart/form-data" action="" novalidate>
            {% csrf_token %}
            <div class="form-custom form-floating mb-3">
                {% include 'accounts/forms/account-form.html' %}
                <!-- Button here because user form is used in more than one pages with diffrent functions-->
                <div class="fr-btn">
                    <button type="submit" class="btn btn-outline-success btn-lg">Create Account</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block JS %}
    <!--Bootstrap JS-->
    <script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}