{% load widget_tweaks %}
<div class="{{record.shift.color}} {{day.shift.color}} align-middle m-2 p-2">
    <form method="post" class="hidden"  enctype="multipart/form-data" action="" novalidate>
        {% csrf_token %}
        {% if del %}
            {% render_field form.employee value=employee_id %}
            {% render_field form.date value=shift_date %}
        {% elif day.shift %}
            {% render_field form.employee value=employee.0 %}
            {% render_field form.date value=day.date %}
        {% else %}
            {% render_field form.employee value=employee.0 %}
            {% render_field form.date value=day %}
        {% endif %}
        {% render_field form.shift value="" %}
        <button type="button" class="filter"
        {% if record %}
            hx-post="{% url 'update_assignment' record.id %}"
            hx-target="#e{{ record.employee.id }}-{{ record.date|date:"d" }}"
        {% elif del %}
            hx-post="{% url 'assign_shift' %}"
            hx-target="#e{{ employee_id }}-{{ shift_date|date:"d" }}"
        {% elif day.shift %}
            hx-post="{% url 'update_assignment' day.id %}"
            hx-target="#e{{ employee.0 }}-{{ day.date|date:"d" }}"
        {% else %}
            hx-post="{% url 'assign_shift' %}"
            hx-target="#e{{ employee.0 }}-{{ day|date:"d" }}"
        {% endif %}
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="click" hx-swap="innerHTML">Submit
        </button>
    </form>
    <h6 class="text-center d-flex justify-content-between align-items-center">
        {% if record %}
            <span class="targ">{{ record.shift.name }}</span>
            <span class="material-symbols-outlined del-btn"
            hx-post="{% url 'delete_assignment' record.id %}"
            hx-target="#e{{ record.employee.id }}-{{ record.date|date:"d" }}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="click" hx-swap="innerHTML">delete</span>
        {% elif day.shift %}
            <span class="targ">{{ day.shift.name }}</span>
            <span class="material-symbols-outlined del-btn"
            hx-post="{% url 'delete_assignment' day.id %}"
            hx-target="#e{{ employee.0 }}-{{ day.date|date:"d" }}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="click" hx-swap="innerHTML">delete</span>
        {% else %}
            <span class="targ">OFF</span>
        {% endif %}
    </h6>
    
</div>