{% extends 'base.html' %}
{% load static %}

{% block title %} Stands {% endblock %}
{% block search_field %}
    {% include "htmx/stands-search-form.html" %}
{% endblock %}
{% block specific_links %}
    {% if perms.locations.view_terminal %}
        <a href="{% url 'terminals' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">connecting_airports</span>
            <div class="p-0">Terminals</div>
        </a>
        <a href="{% url 'gates' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">gate</span>
            <div class="p-0">Gates</div>
        </a>
        <a href="{% url 'stands' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">gate</span>
            <div class="p-0">Stands</div>
        </a>
        <a href="{% url 'pbbs' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">gate</span>
            <div class="p-0">PBBs</div>
        </a>
    {% endif %}
{% endblock %}
{% block display-content %}
    {% include "htmx/stands-filter.html" %}
    <div id="stands-table">
        {% include "tables/stands-table.html" %}
    </div>
{% endblock %}
{% block floating_btn %}
    <a href="{% url 'create_stand' %}" class="material-symbols-outlined text-decoration-none rounded-2 bg-danger text-light fs-3 p-3 position-absolute bottom-0 end-0 show shadow-lg m-5">add_circle</a>
{% endblock %}
{% block JS %}
    <!--HTMX JS-->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
{% endblock %}