{% load widget_tweaks %}
<th class="header text-bg-secondary" scope="col" style="min-width:15vw;">
        <form method="post" class="flex" enctype="multipart/form-data" action="" novalidate>
            {% csrf_token %}
            <div class="flex">
                {% render_field account_filter.form.first_name class="attendance-filters f-name" placeholder="Name" %}
            </div>
        </form>
    </th>
    <th class="header att-htmx flex text-bg-secondary" scope="col" style="min-width:15vw;">
        <form class="flex" method="post" enctype="multipart/form-data" action=""  novalidate>
            {% csrf_token %}
            {% render_field account_filter.form.groups class="js-select2" multiple="multiple" %}
            <button type="button" class="hidden filter"
            hx-post="{% url 'roster' %}?selected_month={{ selected_month }}&selected_year={{ selected_year }}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-indicator=".indicator"
            hx-trigger="click delay:2s" hx-target="#roster-table" hx-swap="outerHTML">Filter
            </button>
        </form>
    </th>
<script>
    function form_htmx() {
        const name = document.querySelector('.f-name')
           name.setAttribute("hx-post","{% url 'roster' %}?selected_month={{ selected_month }}&selected_year={{ selected_year }}");
           name.setAttribute("hx-headers", '{"X-CSRFToken": "{{ csrf_token }}"}');
           name.setAttribute("hx-trigger", "change");
           name.setAttribute("hx-target", "#roster-table");
           name.setAttribute("hx-swap", "outerHTML");
    }
    form_htmx();
    const f_btn = document.querySelector('.filter')

    const observer = new MutationObserver((mutations) => {
        for (const mutation of mutations) {
        //console.log(`Mutation type: ${mutation.type}`);
        //console.log(`Added nodes: ${mutation.addedNodes}`);
        //console.log(`Removed nodes: ${mutation.removedNodes}`);
        //console.log(`Attribute changes: ${mutation.attributeName}`);
        if (mutation.attributeName === "style"){
            f_btn.click();
        }
        }
    });
    const checkbox = document.querySelector('.att-htmx')
        
    observer.observe(checkbox, {
        subtree: true,
        attributes: true,
        characterData: true
    });
</script>