<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Delete Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>If this Group was assigned to employees <b><u>{{ "deleting it might cause unexpected errors"|upper }}</u></b>. Contact the <u>Admin</u> or create a new group and assign employees to it</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_group' groupId %}" type="button" class="btn btn-danger">DELETE</a>
            </div>
        </div>
    </div>
</div>