{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/select.css' %}" media="all">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %} Roster {% endblock %}

{% block specific_links %}
<hr>
    {% if perms.attendance.view_shift %}
        <a href="{% url 'shifts' %}" class="sub-link text-decoration-none d-flex align-items-center ms-3 mt-2 p-1 rounded">
            <span class="material-symbols-outlined p-1 fs-3">check_in_out</span>
            <div class="p-0">Shifts</div>
        </a>
    {% endif %}
{% endblock %}

{% block search_field %}
    {% include "attendance-records/includes/table-header.html" %}
{% endblock %}

{% block custom_btn %}
    <a class="btn btn-success" href="{% url 'create_shift' %}">Add Shift</a>
{% endblock %}

{% block display-content %}
    <div class="">
        <span class="hidden month">{{ selected_month }}</span>
        <span class="hidden year">{{ selected_year }}</span>
        <table class="table table-light table-striped table-bordered">
            <thead class="position-sticky top-0 z-1 table-dark">
                <tr class="days table-active">
                    {% include "attendance-records/htmx/filters-embed.html" %}
                    <!--th class="header" scope="col">Name</th>
                    <th class="header" scope="col">Role</th-->
                    {% for day in dates %}
                        <th class="header text-center align-middle" scope="col" style="min-width:8vw;">{{ day|date:"D - d" }}</th>
                        {% if forloop.counter|divisibleby:"7" or forloop.last %}
                            <th class="header text-center align-middle text-warning" scope="col" style="min-width:8vw;">Total Hours</th>
                            <th class="header text-center align-middle text-warning" scope="col" style="min-width:8vw;">OT Hours</th>
                            {% if forloop.last %}
                                <th class="header text-center align-middle text-warning" scope="col" style="min-width:8vw;">Month's Total Hours</th>
                                <th class="header text-center align-middle text-warning" scope="col" style="min-width:8vw;">Month's OT Hours</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <script>let calls_dict = {};</script>
            {% include "attendance-records/tables/roster-table2.html" %}
            <tfoot class="position-sticky bottom-0 z-1 hidden">
                {% for shift in shifts %}
                    <tr class="" >
                        <td class="text-bg-{{ shift.color }} p-1" style="min-width:15vw;">{{ shift.name }}</td>
                        <td class="text-bg-{{ shift.color }} p-1" style="min-width:15vw;">{{ shift.from_time|date:"H:i" }}-{{ shift.to_time|date:"H:i" }}</td>
                        {% for day in dates %}
                            <td class="align-middle text-bg-{{ shift.color }} p-1" style="min-width:8vw;" id="s{{ shift.id }}-{{ day|date:"dm" }}">
                            {% include "attendance-records/includes/shift-counters.html" %}
                            </td>
                            {% if forloop.counter|divisibleby:"7" or forloop.last %}
                                <td style="min-width:8vw;">&nbsp;</td>
                                <td style="min-width:8vw;">&nbsp;</td>
                                {% if forloop.last %}
                                    <td style="min-width:8vw;">&nbsp;</td>
                                    <td style="min-width:8vw;">&nbsp;</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tfoot>
        </table>
    </div>
    {% include "attendance-records/includes/shifts.html" %}

{% endblock %}
{% block JS %}
    <script src="{% static 'js/sjs/jquery.min.js' %}"></script>
    <script src="{% static 'js/sjs/popper.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'js/sjs/main.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <!--Dragula JS-->
    <script src="{% static 'node_modules/dragula/dist/dragula.js' %}"></script>
    <script src="{% static 'js/drag-drop.js' %}"></script>
    <!--HTMX JS-->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
{% endblock %}