{% load static %}
{% load new_filters %}
    <tbody id="roster-table">
        <tr class="htmx-indicator indicator">
            {% for day in dates %}
                <td style="min-width:7.5vw;">&nbsp;</td>
            {% endfor %}
        </tr>
        {% for employee in filtered_records %}
            <tr class="days1 position-relative">
                <th class="fs-5 align-middle text-center text-truncate position-sticky start-0 z-1" style="max-width:20vw;">
                    <a class="text-dark" href="{% url 'account_roster' employee.0 %}"><strong>{{ employee.1 }}</strong></a>
                </th>
                <td class="fs-6 text-dark text-truncate">
                    {% for role in employee.2 %}
                        {{ role }}
                        {% if not forloop.last %}
                            <b>-</b>
                        {% endif %}
                    {% endfor %}
                </td>
                {% for day in employee|start_from:3 %}
                    <td class="drop-target align-middle p-0 m-0 h-100" style="min-width:8.5vw;" id="e{{ employee.0 }}-{% if day.date %}{{ day.date|date:"d" }}{% else %}{{ day|date:"d" }}{% endif %}">
                        {% include "attendance-records/includes/attendance-record.html" %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
{% if htmx %}
    <script src="{% static 'js/calendar.js' %}"></script>
{% endif %}